.App {
  text-align: center;
  max-height: 100vh;
 
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  padding:20px;

}
button{
  cursor:pointer;
}


